package adf

import (
	"github.com/mikeshimura/dbflute/df"
)
func DBCurrentCreate() {
	di := new(df.DBCurrent)
	di.ProjectName = "${database.projectName}"
	di.ProjectPrefix = "${database.projectPrefix}"
	di.PagingCountLater = ${database.isPagingCountLater()}
	di.PagingCountLeastJoin = ${database.isPagingCountLeastJoin()}
	di.InnerJoinAutoDetect =  ${database.isInnerJoinAutoDetect()}
	di.ThatsBadTimingDetect = ${database.isThatsBadTimingDetect()}
	di.NullOrEmptyQueryAllowed = ${database.isNullOrEmptyQueryAllowed()}
	di.EmptyStringQueryAllowed = ${database.isEmptyStringQueryAllowed()}
	di.EmptyStringParameterAllowed = ${database.isEmptyStringParameterAllowed()}
	di.OverridingQueryAllowed = ${database.isOverridingQueryAllowed()}
	di.NonSpecifiedColumnAccessAllowed = ${database.isNonSpecifiedColumnAccessAllowed()}
	di.ColumnNullObjectAllowed = ${database.isColumnNullObjectAllowed()}
	di.ColumnNullObjectGearedToSpecify = ${database.isColumnNullObjectGearedToSpecify()}
	di.DisableSelectIndex = false
	di.QueryUpdateCountPreCheck = ${database.isQueryUpdateCountPreCheck()}
	var dw df.DBWay = new(df.WayOf${database.dbDef})
	di.DBWay = &dw
	var dd df.DBDef = new(df.${database.dbDef})
	di.DBDef = &dd
	df.DBCurrent_I = di
}


