package centity

import (
	"github.com/mikeshimura/dbflute/df"
)

func init() {
#foreach ($table in $database.tableList)
	#set($entityClassName=${table.extendedEntityClassName})	
	${entityClassName} := func() *df.Entity {
		var te df.Entity = new(C_${entityClassName})
		te.SetUp()
		return &te
	}
	df.BhvUtil_I.AddEntity("C_${entityClassName}", ${entityClassName})
#end
}