package bhv

import (
	"${goPackageBase}/adf"
	"github.com/mikeshimura/dbflute/df"
	"${goPackageBase}/adf/entity"
	"${goPackageBase}/adf/meta"
	_	"github.com/lib/pq"  //Don't eraze require to use this package
)
//To fix init sequence, all init routines are called from here.
func init() {
	adf.AdfInit()
	entity.EntityInit()
	meta.MetaInit()
#foreach ($table in $database.tableList)
	#set($entityClassName=${table.extendedEntityClassName})	
	#set ($myEntityVariableName = "${table.uncapitalisedJavaName}")
	${entityClassName}Bhv_I = new(${entityClassName}Bhv)
	${entityClassName}Bhv_I.BaseBehavior = new(df.BaseBehavior)
	${entityClassName}Bhv_I.BaseBehavior.CreateBehaviorCommandInvoker()
	${entityClassName}Bhv_I.BaseBehavior.TableDbName = "${entityClassName}"
	var ${myEntityVariableName} df.Behavior =${entityClassName}Bhv_I
	${entityClassName}Bhv_I.BaseBehavior.Behavior=&${myEntityVariableName}
	${entityClassName}Bhv_I.BaseBehavior.BehaviorCommandInvoker = df.Bci
#end
}