package entity

import (
	"github.com/mikeshimura/dbflute/df"
)

func EntityInit() {
#foreach ($table in $database.tableList)
	#set($entityClassName=${table.extendedEntityClassName})	
	${entityClassName} := func() *df.Entity {
		var te df.Entity = new(${entityClassName})
		te.SetUp()
		return &te
	}
	df.BhvUtil_I.AddEntity("${entityClassName}", ${entityClassName})
#end
}